[package]
name = "drift-sdk"
version = "0.1.0"
edition = "2021"
rust-version = "1.76.0"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/drift-labs/drift-rs"
homepage = "https://drift.trade"
description = """
Rust SDK for interacting with the Drift V2 Protocol on the Solana blockchain.
"""
categories = ["solana", "trading", "defi", "dex"]
keywords = ["solana", "trading", "defi", "dex", "drift", "protocol", "sdk"]

[features]
# enable JIT client
jit = ["jit-proxy"]
rpc_tests = []
test_utils = []

[dependencies]
anchor-lang = "=0.29.0"
base64 = "0.13"
bytemuck = "1.13.0"
dashmap = "5.5.3"
drift = { git = "https://github.com/drift-labs/protocol-v2.git", tag = "v2.92.0", features = [
    "mainnet-beta", "drift-rs"
] }
env_logger = "0.10.1"
fnv = "1.0.7"
futures-util = "0.3.29"
jit-proxy = { git = "https://github.com/drift-labs/jit-proxy.git", rev = "af5f2f4", optional = true }
log = "0.4.20"
rayon = "1.9.0"
regex = "1.10.2"
reqwest = "*"
serde = { version = "*", features = ["derive"] }
serde_json = "*"
solana-account-decoder = "1.16"
solana-client = "1.16"
solana-sdk = "1.16"
solana-transaction-status = "1.16"
thiserror = "1.0.38"
tokio = { version = "1.34.0", features = ["full"] }
tokio-tungstenite = { version = "0.21.0", features = ["native-tls"] }

[dev-dependencies]
anchor-client = "=0.29.0"
borsh = "*"
bytes = "*"
futures = "0.3.30"
hex = "*"
hex-literal = "*"
pyth = { git = "https://github.com/drift-labs/protocol-v2.git", tag = "v2.92.0", features = [
    "no-entrypoint",
] }
spl-associated-token-account = "1.1.2"
