name: Build

on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"
  pull_request:
    branches:
      - master
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"
    
jobs:
  format-build-test:
    runs-on: ubicloud
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Config rust toolchain
        run: |
          rustup show active-toolchain
          rustup component add clippy rustfmt
      - name: Format
        run: cargo fmt --all -- --check
      - name: Build
        run: cargo check
        env:
          CARGO_DRIFT_FFI_PATH: "/usr/lib"
      # - name: Clippy
      #   uses: giraffate/clippy-action@v1
      #   with:
      #    reporter: 'github-pr-review'
      #    github_token: ${{ secrets.GITHUB_TOKEN }}
      #   env:
      #     RUST_TOOLCHAIN: stable-x86_64-linux-unknown-gnu # force clippy to build with same rust version
      #     CARGO_DRIFT_FFI_PATH: "/usr/lib"
      - name: Test
        run: |
          cargo test --no-fail-fast --lib -- --nocapture
          cargo test --no-fail-fast --test integration -- --nocapture --test-threads 1
        env:
          RUST_LOG: info
          TEST_DEVNET_RPC_ENDPOINT: ${{ secrets.DEVNET_RPC_ENDPOINT }}
          TEST_MAINNET_RPC_ENDPOINT: ${{ secrets.MAINNET_RPC_ENDPOINT }}
          TEST_PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}