name: Build

on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"
  pull_request:
    branches:
      - master
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"

jobs:
  format-build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.76.0
          components: rustfmt
          default: true
      - name: Format
        run: cargo fmt --all -- --check
      - name: Build
        run: cargo check --all
      - name: Clippy
      - uses: giraffate/clippy-action@v1
        with:
         reporter: 'github-pr-review'
         github_token: ${{ secrets.GITHUB_TOKEN }}       
      - name: Test
        env:
          TEST_PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
        run: cargo test --all

