name: Build

on:
  push:
    branches:
      - master
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"
  pull_request:
    branches:
      - master
      - main
    paths:
      - "**.rs"
      - "**.toml"
      - "**.lock"
      - ".github/workflows/*.yml"

jobs:
  format-build-test:
    env:
      CARGO_DRIFT_FFI_PATH: /usr/lib
    runs-on: ubicloud
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Cache Rust toolchain
        uses: actions/cache@v3
        with:
          path: |
            ~/.rustup
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-rust-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-rust-
      - name: Config rust toolchain
        run: |
          rustup show active-toolchain
          rustup component add clippy rustfmt
      - name: install libdrift_ffi_sys
        run: |
          curl -L https://github.com/drift-labs/drift-ffi-sys/releases/download/v2.109.0/libdrift_ffi_sys.so > libdrift_ffi_sys.so
          sudo cp libdrift_ffi_sys.so $CARGO_DRIFT_FFI_PATH
      - name: Format
        run: cargo fmt --all -- --check
      - name: Build
        run: cargo check
      - name: Test
        run: |
          cargo test --no-fail-fast --lib -- --nocapture
          cargo test --no-fail-fast --test integration -- --nocapture --test-threads 1
        env:
          TEST_DEVNET_RPC_ENDPOINT: ${{ secrets.DEVNET_RPC_ENDPOINT }}
          TEST_MAINNET_RPC_ENDPOINT: ${{ secrets.MAINNET_RPC_ENDPOINT }}
          TEST_PRIVATE_KEY: ${{ secrets.TEST_PRIVATE_KEY }}
