name: Release

permissions:
  pull-requests: write
  contents: write

on:
  push:
    tags:
      - 'v[12].[0-9]+.[0-9]+'
      - 'v[12].[0-9]+.[0-9]+-alpha.[0-9]+'

jobs:
  crates-io:
    name: Publish to crates.io
    runs-on: ubicloud
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: install 1.76.0 toolchain
        run: |
          rustup install 1.76.0-x86_64-unknown-linux-gnu
      - name: Cargo login
        run: |
          cargo login ${{ secrets.CARGO_REGISTRY_TOKEN }}
      - name: Publish drift-idl-gen
        run: |
          cd crates/drift-idl-gen
          cargo publish || true
      - name: Publish drift-pubsub-client
        run: |
          cd crates/pubsub-client
          cargo publish || true
      - name: Publish drift-rs
        run: |
          # add libdrift_ffi_sys
          curl -L https://github.com/drift-labs/drift-ffi-sys/releases/download/v2.110.0/libdrift_ffi_sys.so > libdrift_ffi_sys.so
          sudo mv libdrift_ffi_sys.so $CARGO_DRIFT_FFI_PATH
          # publish to crates.io
          cargo -V
          cargo publish
        env:
          CARGO_DRIFT_FFI_PATH: "/usr/lib"
